{% extends '::base.html.twig' %}

{% block body -%}
    <h1>University</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Universityname</th>
                <td>{{ entity.universityName }}</td>
            </tr>
            <tr>
                <th>Universityurl</th>
                <td>{{ entity.universityUrl }}</td>
            </tr>
            <tr>
                <th>Universitystatus</th>
                <td>{{ entity.universityStatus }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('university') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('university_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
