{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Book list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Booktitle</th>
                <th>Bookdirectorauthorartist</th>
                <th>Bookedition</th>
                <th>Bookisbn10</th>
                <th>Bookisbn13</th>
                <th>Bookpublisher</th>
                <th>Bookpublishdate</th>
                <th>Bookbinding</th>
                <th>Bookpage</th>
                <th>Booklanguage</th>
                <th>Bookdescription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('book_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.bookTitle }}</td>
                <td>{{ entity.bookDirectorAuthorArtist }}</td>
                <td>{{ entity.bookEdition }}</td>
                <td>{{ entity.bookIsbn10 }}</td>
                <td>{{ entity.bookIsbn13 }}</td>
                <td>{{ entity.bookPublisher }}</td>
                <td>{% if entity.bookPublishDate %}{{ entity.bookPublishDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.bookBinding }}</td>
                <td>{{ entity.bookPage }}</td>
                <td>{{ entity.bookLanguage }}</td>
                <td>{{ entity.bookDescription }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('book_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('book_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('book_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
