{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BookImage</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ entity.imageName }}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ entity.imageUrl }}</td>
            </tr>
            <tr>
                <th>Titleimage</th>
                <td>{{ entity.titleImage }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bookimage') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('bookimage_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
